{{ "main-section.css" | asset_url | stylesheet_tag }}


<div style="background-color: {{ section.settings.background_color }};" class="central-div">
  <h1>{{ section.settings.title }}</h1>
  <h2>{{ section.settings.subtitle }}</h2>
  <p>{{ section.settings.body }}</p>
</div>

{% schema %} 
{ 
    "name": "Main Section", 
    "settings": [{
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
    }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Hola, Mundo!"
    }, {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "This is a subtitle"
    }, {
        "type": "text",
        "id": "body",
        "label": "Body",
        "default": "This is the body"
    }]
} 
{% endschema %}
